VITE_SUPABASE_URL=https://ngrcaywtovysihoulqwd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ncmNheXd0b3Z5c2lob3VscXdkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDMzMzI5OTMsImV4cCI6MjA1ODkwODk5M30.sBLPy5tCthE_D3XE99hU_C3vT_DTD3BOlXQz3kfk2sA